# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.env
dotenv.env

build/7e4aebe516b998635f34742713e086a8.cache.dill.track.dill
build/5d2c61a80993d0cdccffb286a9452180/_composite.stamp
build/5d2c61a80993d0cdccffb286a9452180/gen_dart_plugin_registrant.stamp
build/5d2c61a80993d0cdccffb286a9452180/gen_localizations.stamp
build/flutter_assets/AssetManifest.bin
build/flutter_assets/AssetManifest.bin.json
build/flutter_assets/AssetManifest.json
build/flutter_assets/FontManifest.json
build/flutter_assets/NOTICES
build/flutter_assets/assets/images/background.jpg
build/flutter_assets/assets/images/fundo.png
build/flutter_assets/assets/images/FundoWhiteHome.png
build/flutter_assets/assets/images/logo_color.png
build/flutter_assets/assets/images/logo.webp
build/flutter_assets/fonts/MaterialIcons-Regular.otf
build/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/flutter_assets/shaders/ink_sparkle.frag
build/native_assets/macos/native_assets.json
build/unit_test_assets/AssetManifest.bin
build/unit_test_assets/AssetManifest.json
build/unit_test_assets/FontManifest.json
build/unit_test_assets/NativeAssetsManifest.json
build/unit_test_assets/NOTICES.Z
build/unit_test_assets/assets/images/background.jpg
build/unit_test_assets/assets/images/fundo.png
build/unit_test_assets/assets/images/FundoWhiteHome.png
build/unit_test_assets/assets/images/logo_color.png
build/unit_test_assets/assets/images/logo.webp
build/unit_test_assets/fonts/MaterialIcons-Regular.otf
build/unit_test_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/unit_test_assets/shaders/ink_sparkle.frag
build/test_cache/build/7e4aebe516b998635f34742713e086a8.cache.dill.track.dill
.vscode/dev.json
