BASE_URL=http://localhost:8080
STUDENT_EMAIL=aluno.teste@unicv.edu.br
STUDENT_PASSWORD=Test@123
TEACHER_EMAIL=professor.teste@unicv.edu.br
TEACHER_PASSWORD=Test@123
ADMIN_EMAIL=admin.teste@unicv.edu.br
ADMIN_PASSWORD=Test@123
